{% extends 'base.html' %}

{% block title %}পাসওয়ার্ড রিসেট - লিপিকরণ{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block content %}
{% include 'sidebar-left.html' %}
<h1 class="heading">পাসওয়ার্ড রিসেট</h1>
   <div class="body">
         <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-set">
			<button class="btn-active">সাবমিট</button>
		</div>
    </form>
   </div>

{% include 'sidebar-right.html' %}
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}