/*** IMPORTING FONTS ***/
@font-face{
	src:url(../fonts/BalooDa.ttf);
	font-family:BalooDa;
}
@font-face{
	src:url(../fonts/SolaimanLipi.ttf);
	font-family:SolaimanLipi;
}
/*** GENERAL STYLES ***/
/* HTML defaults */
html{
	scroll-behavior:smooth;
}
/* Progress bar */
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.pace-inactive {
	display: none;
}
.pace .pace-progress {
	background: #3BC57A;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}
/* Inner body defaults */
body{
	margin:0;
	margin-top:55px;
	padding:0;
	background-color:#eee;
	font-family:BalooDa;
	font-size:18px;
}
/* Section Defaults */
section h1{
	font-size:2em;
}
/* Hyperlink defaults */
a{
	text-decoration:none;
	color:#1aa260;
}
a:hover{
	text-decoration:underline;
}
/* Input field defaults */
input[type=text], input[type=email], input[type=password], input[type=search], textarea{
	border:1px solid #ccc;
	outline:none;
	font-family:BalooDa;
	font-size:19px;
	padding:0px 15px;
	transition:border 0.3s ease;
}
textarea{
	padding:10px 15px;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, textarea:focus{
	border:1px solid #1aa260;
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder, input[type=search]::placeholder, textarea::placeholder{
	color:#777;
}
/* List Defaults */
ul, ol{
	padding-left:15px;
}
/* Label Defaults */
label{
	display:block;
	font-size:15px;
	margin-top:10px;
}
.inline-label{
	display:inline;
}
/* Button Defaults */
button{
	font-family:BalooDa;
	font-size:18px;
	background-color:transparent;
	border:1px solid#1aa260;
	padding:3px 10px;
    border-radius:4px;
	margin:0 2px;
	cursor:pointer;
}
button:focus{
	outline:none;
}
.btn-active{
	color:#fff;
	background-color:#1aa260;
}
.btn-disabled{
	background-color:#f7f7f7;
	color:#777;
	border:1px solid #777;
	cursor:default;
}
.btn-set{
	margin:15px 0;
}
/* Alerts */
.alert-info{
	border-left: 3px solid #1aa260;
    background-color: #ddd;
    padding: 5px 15px;
}
.alert-success{
	border-left: 3px solid #1aa260;
    background-color: #00800020;
    padding: 5px 15px;
}
.alert-warning{
	border-left: 3px solid #ffbc00;
    background-color: #ffff0020;
    padding: 5px 15px;
}
.alert-danger{
	border-left: 3px solid #ff284f;
    background-color: #ff000020;
    padding: 5px 15px;
}
/* User badge */
.badge, .badge-transparent{
	padding:0 12px;
	border:1px solid #1aa260;
	border-radius:25px;
}
.badge{
	background-color:#1aa260;
	color:#fff;
}
.verification-badge{
	height:13px;
	width:13px;
}
/* Count badge */
.count{
    border-radius: 50px;
    padding: 0px 3px;
}
/* Icon defaults */
.icon, .icon-white{
	vertical-align:middle;
	height:17px;
}
.icon-white{
	filter:invert(100%);
}
/* Heading */
.heading{
	padding:0px 17px;
	margin:0;
	line-height:37px;
	background-color:#f7f7f7;
	box-shadow:1px 1px 3px #ccc;
	font-size:18px;
}
/* Body */
.body{
	background-color:#fff;
	padding:10px 25px;
	box-shadow:1px 1px 3px #ccc;
}
.card {
	display:inline-block;
	margin:10px;
	border:1px solid #ddd;
	transition:0.3s;
	width:30%;
}
.card img{
	height:150px;
	width:100%;
	object-fit:cover;
}
.card .container {
	padding: 0px 15px 10px 15px;
}
/* Mega heading */
.mega-heading{
	margin-bottom:3px;
	padding:0px 17px;
	background-color:#fff;
	box-shadow:1px 1px 3px #ccc;
}
.mega-heading h1{
	display:inline;
	font-size:18px;
	line-height:50px;
}
.mega-heading .dropdown{
	float:right;
	margin-top:5px;
}
/* Dropdown Button */
.dropdown{
	position:relative;
	display:inline-block;
}
.dropdown-content{
	max-height: 315px;
    overflow-y: scroll;
	margin:10px 0;
	display:none;
	position:absolute;
	background-color:#fff;
	min-width:160px;
	border:1px solid #ccc;
	z-index:1;
	top:30px;
	right:0;
}
.dropdown-content a{
	color:#333;
	padding:7px 15px;
	text-decoration:none;
	display:block;
}
.dropdown-content a:hover{
	background-color:#f7f7f7;
	border-left:3px solid #1aa260;
	padding-left:12px;
}
.dropdown:hover .dropdown-content{
	display:block;
}
/* Social media icons */
.smi{
	padding:7px;
	border-radius:3px;
	margin:1px;
	height:20px;
}
.smi-facebook{
	background-color:#4267B2;
}
.smi-instagram{
	background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.smi-youtube{
	background-color:#FF0000;
}
/* Create button */
.create-button{
	position:fixed;
	width:50px;
	height:50px;
	background-color:#1aa260;
	text-align:center;
	border-radius:100px;
	line-height:50px;
	bottom:40px;
	right:50px;
}
.create-button .icon-white{
	height:25px;
}
/*** CUSTOM STYLES ***/
/* Preloader */
.loader-container{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
	z-index: 1;
}
.loader-container .logo{
	height:100px;
	width:400px;
}
/* Header */
header{
	background-color:#fff;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
	position:fixed;
	top:0;
	width:100%;
	z-index:1;
}
.header-row{
	display:flex;
	align-items:center;
	padding:0 5%;
	height:60px;
}
.header-row img{
	vertical-align:middle;
}
.logo{
	height:45px;
	width:175px;
}
.header-search{
	margin-right:auto;
	margin-left:3%;
}
.header-search input[type=search]{
	width:300px;
	padding:4px 18px !important;
	background-color:#f5f5f5;
	border-radius:25px;
}
.header-search input[type=search]:focus{
	box-shadow:0px 0px 3px 1px #ccc;
}
.top-nav{
	list-style:none;
	margin-right:25px;
}
.top-nav li{
	display:inline;
	padding:0px 7px;
}
.top-nav a{
	color:#555;
	text-decoration:none;
}
.top-nav a:hover{
	color:#333;
	padding:12px 0;
	border-bottom:3px solid #1aa260;
}
/* Mobile Menu */
.mobile-menu-toggle{
	display:none;
}
.mobile-menu-toggle .icon{
	height:24px;
}
.mobile-menu-toggle-close{
	position:absolute;
	left:85%;
}
.mobile-menu-toggle-close .icon{
	background-color:#fff;
    padding:5px;
    border-radius:100px;
	box-shadow: 0px 0px 10px -5px #000;
}
.mobile-menu{
	display:none;
	position:absolute;
	top:0;
	left:0;
	background-color:#f3f3f3;
	border-right:2px solid #1aa260;
	height:700px;
	width:70%;
	padding:10px;
	overflow:auto;
}
.mobile-menu-content{
	margin-top:10px;
}
.mobile-menu ul{
	list-style:none;
	padding:0;
	margin-top:10px;
}
.mobile-menu ul li{
	padding:10px;
	border-bottom:1px solid #ddd;
}
.mobile-menu ul li a{
	color:#333;
	text-decoration:none;
	transition:color 0.3s ease;
}
.mobile-menu ul li a:hover{
	color:#1aa260;
}
.mobile-menu .smi-set{
	text-align:center;
	margin:25px;
}
.mobile-login-icon{
	display:none;
}
/* User Menu */
.user-menu .profile-picture{
	height:32px;
	width:32px;
	border-radius:100px;
	margin-right:10px;
}
.user-menu{
	padding:5px 10px;
	border-color:#ccc;
	transition:border-color 0.3s ease;
}
.user-menu:hover{
	border-color:#1aa260;
}
/* Hero */
.hero{
	display:none;
	background-image:url(../images/hero-background.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:500px;
	width:100%;
	color:#fff;
	padding:0;
}
.hero-content{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.hero-content h1{
	font-size:17px;
	font-weight:normal;
}
.hero-search{
	margin:25px 0;
	padding:7px 60px 7px 20px !important;
	width:90%;
	border-radius:5px;
	font-size:17px !important;
}
.hero-search-button{
	margin-left:-50px;
	font-size:17px;
}
.hero .btn-set button{
	padding:7px 25px;
	transition:background-color 0.3s ease;
	color:#fff;
}
.hero .btn-set button:hover{
	background-color:#fff;
	color:#333;
}
.hero-category{
	margin-top:30px;
	background-color:#fff3;
}
.category-scroll{
	margin:auto;
	padding:0;
	list-style: none;
	display:flex;
	max-width: 300px;
	overflow-x:auto;
}
.category-scroll a{
	color:#fff;;
}
.category-scroll li{
	margin:10px 15px;
}
.scroll-button{
	display:none;
	text-align:center;
	margin-top:-12px;
	margin-bottom:-40px;
}
.godownbtn{
	padding:7px;
	background-color:#fff;
	border-radius:100px;
	box-shadow:0 5px 20px #ccc;
}
.godownbtn .icon{
	height:24px;
}
/* Main Body */
.main-body{
	margin:1%;
	margin-top:70px;
	display:flex;
}
/* Left Sidebar */
.left-sidebar{
	width:28%;
}
/* Left Navigation */
.tabs a{
	color:#fff;
	text-decoration:none;
}
.tabs .icon-white{
	height:24px;
}
.tabs{
	border-radius:17px;
	overflow:hidden;
	list-style:none;
}
.tab-item{
	overflow:hidden;
}
.tab-item:target .smenu{
	max-height:15em;
}
.tab-item .first-child{
	padding-top:25px;
}
.tab-item .last-child{
	padding-bottom:25px;
}
.tab-button{
	display:block;
	padding:8px 25px;
	background-color:#1aa260;
	position:relative;
}
.tab-button:before{
	content:"";
	position:absolute;
	width:14px;
	height:14px;
	background-color:#1aa260;
	left:32px;
	bottom:-7px;
	transform:rotate(45deg);
}
.tab-button span{
	margin-left:15px;
}
.smenu{
	background-color:#fff;
	overflow:hidden;
	transition:max-height 0.3s;
	max-height:0;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.smenu a{
	display:block;
	padding:10px 15px 10px 32px;
	color:#333;
	margin:5px 0;
	position:relative;
	border-bottom:1px solid #eee;
}
.smenu a:last-child{
	border-bottom:none;
}
.smenu a:before{
	content:"";
	position:absolute;
	width:3px;
	height:100%;
	background-color:#1aa260;
	left:0;
	top:0;
	opacity:0;
}
.smenu a:hover:before{
	opacity:1;
}
/* Middle Area */
.middle-area{
	width:100%;
	margin:0px 1%;
}
/* Right Sidebar */
.right-sidebar{
	width:32%;
}
/* Explore Widget */
.explore-widget{
	margin-bottom:7px;
}
.explore-widget-row{
	display:flex;
}
.explore-widget-col{
	width:50%;
}
.explore-widget-icon{
	height:50px;
	width:50px;
	box-shadow:0 2px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.2);
	border-radius:7px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.explore-widget a{
	font-size:17px;
	line-height:0px;
	text-align:center;
	transition:color 0.3s ease;
}
.explore-widget a:hover{
	text-decoration:none;
	color:#333;
}
/* Top Author Widget */
.top-author-widget{
	list-style:none;
	position:center;
}
.top-author-widget a{
	color:#333;
}
.top-author-widget img{
	height:32px;
	width:32px;
	vertical-align:middle;
	margin-right:10px;
}
.top-author-widget li{
	margin-bottom:12px;
}
/* Footer */
footer{
	color:#fff;
	background-color:#222;
	border-top:2px solid #1aa260;
}
.footer-row{
	display:flex;
	margin:15px 3%;
}
.footer-col{
	width:25%;
	margin:1%;
}
.footer-row h3{
	line-height:10px;
}
.footer-row .play-store-logo{
	height:75px;
}
.footer-menu{
	list-style:none;
	padding:0;
}
.footer-menu a{
	color:#fff;
	text-decoration:none;
	transition:color 0.3s ease;
}
.footer-menu a:hover{
	color:#1aa260;
}
.footer-contact-info{
	list-style:none;
	padding:0;
}
.footer-copyright{
	margin:0;
	line-height:50px;
	text-align:center;
	border-top:1px solid #333;
}
/* Mobile bottom navbar */
.mobile-nav{
	position:fixed;
	bottom:0;
	width:100%;
	height:50px;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
	background-color:#fff;
	display:none;
	overflow-x:auto;
}
.mobile-nav a{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	flex-grow:1;
	min-width:50px;
	overflow:hidden;
	white-space:nowrap;
	transition:background-color 0.1s ease-in-out;
}
.mobile-nav .icon{
	height:24px;
}
.mobile-nav .count{
	background: #1aa260;
    color: #fff;
	font-size: 10px;
	position: absolute;
    top: 3px;
    left: 31%;
}
/* Archive Post */
.archive-post{
	margin-bottom:7px;
	padding:20px;
}
.archive-body{
	display:flex;
}
.archive-thumbnail{
	height:150px;
	width:27%;
	object-fit:cover;
}
.archive-category-button{
	display:none;
	margin:-20px 0 12px 20px;
}
.archive-category{
	color:#333;
	background-color:#fff;
	padding:5px 20px;
	border-radius:25px;
	box-shadow:0 0 10px #ccc;
}
.archive-category:hover{
	text-decoration:none;
}
.archive-info{
	width:73%;
	margin-left:20px;
}
.archive-info a{
	color:#333;
	text-decoration:none;
}
.archive-info h1{
	font-size:20px;
	margin:0;
}
.archive-info p{
	color:#777;
	margin:0;
}
.archive-info .desktop-excerpt{
	font-size:15px;
}
.archive-info .mobile-excerpt{
	padding:0 23px;
	font-size:12px;
	display:none;
}
.archive-actions{
	display:flex;
	justify-content:space-between;
	list-style:none;
	padding:0;
	margin:0;
	margin-top:10px;
}
.archive-actions a{
	text-decoration:none;
	color:#333;
}
/* Pagination */
.pagination{
	display:inline-block;
	margin-top:5px;
}
.pagination a{
	background-color:#fff;
	color:#333;
	float:left;
	padding:3px 17px;
	text-decoration:none;
	border-bottom:2px solid #1aa260;
}
.pagination a:hover{
	background-color:#f7f7f7;
}
.pagination .active{
	background-color:#1aa260;
	color:#fff;
}
.pagination .active:hover{
	background-color:#1aa260;
	color:#fff;
}
/* Single Post */
.single-header{
	background-image:url(../images/hero-background.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:500px;
	width:100%;
	display:table;
}
.single-header-table{
	display:table-cell;
}
.single-header-content{
	display:flex;
	vertical-align:middle;
	padding:75px 7%;
}
.single-thumbnail{
	width:50%;
	border-radius:10px;
}
.single-info{
	width:50%;
	margin-left:50px;
	color:#fff;
}
.single-info h1{
	font-size:40px;
}
.single-info a{
	color:#fff;
}
.single-author{
	display:flex;
	margin:25px 0;
}
.single-author .profile-picture{
	height:70px;
	width:70px;
	border:3px solid #fff;
	border-radius:100px;
}
.single-author-info{
	margin-left:15px;
}
.single-author-info h2{
	margin:0;
	font-weight:normal;
}
.single-counts{
	list-style:none;
	display:flex;
	padding:0;
}
.single-counts li{
	margin-right:17px;
}
.single-main-body{
	display:flex;
	padding:25px 3%;
}
.single-body{
	width:78%;
	margin-right:25px;
}
.single-main-post img{
	max-width: 100%;
}
.single-actions{
	display:flex;
	background-color:#f7f7f7;
	margin-bottom:15px;
}
.single-actions .icon-white{
	height:20px;
}
/* Like button */
.like-button{
	margin-right:10px;
	padding:3px 10px;
	background-color:#4285F4;
	color:#fff;
	text-decoration:none;
	border-radius:3px;
}
.like-button:hover{
	text-decoration:none;
}
/* Share button */
.share-button{
	padding:3px 10px;
	color:#333;
	border:1px solid #333;
	border-radius:3px;
}
.share-button:hover{
	text-decoration:none;
}
/* Report button */
.report-button{
	padding:3px 10px;
	background-color:#ff284e;
	color:#fff;
	border-radius:3px;
	margin-left:auto;
}
.report-button:hover{
	text-decoration:none;
}

.edit-button{
	padding:3px 10px;
	background-color:#1aa260;
	color:#fff;
	border-radius:3px;
	margin-left:auto;
}
.edit-button:hover{
	text-decoration:none;
}

/* Single post comments */
.comment{
	display:flex;
}
.comment .profile-picture{
	height:50px;
	width:50px;
	margin-right:10px;
}
.comment-info small{
	display:block;
	color:#777;
}
.comment-reply{
	padding-left:85px;
}
.comment-reply-btn{
	text-align:right;
}
.comment-reply-link{
	float:right;
	background-color:#f7f7f7;
	border:1px solid #ccc;
	color:#333;
	padding:0px 12px;
}
.comment-reply-link:hover{
	text-decoration:none;
}
/* Comment Area */
.comment-area{
	margin-top:15px;
	padding:35px;
}
.comment-area h3{
	line-height:0;
}
.comment-area textarea, .report-page textarea, .lipikar-form textarea{
	height:150px;
	width:60%;
}
/* Single post sidebar */
.single-sidebar{
	width:22%;
}
/* Author Page */
.author-page{
	text-align:center;
	margin-bottom:7px;
	padding:20px;
}
.author-page .profile-picture{
	height:100px;
	width:100px;
	border:2px solid #1aa260;
	border-radius:100px;
	padding:3px;
}
.author-page h1{
	font-size:20px;
	margin:0;
}
.author-counts{
	list-style:none;
	display:flex;
	margin:0;
	padding:0;
	margin:10px 0;
	justify-content: center;
}
.author-counts li{
	margin:0 3px;
}
/* 404 Page */
.not-found h3{
	text-align:center;
	font-size:50px;
	color:#555;
	line-height:0;
}
.not-found p{
	text-align:center;
}
/* Login Page */
.login{
	width:425px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-45%);
	box-sizing:border-box;
	padding:25px;
}
.login .btn-set{
	text-align:center;
}
.login-heading{
	text-align:center;
	color:#1aa260;
}
.login input{
	display:block;
	width:90%;
	padding:7px 15px;
	border-radius:7px;
	margin-bottom:7px;
}
.login-button{
	padding:7px 40px;
	border-radius:25px;
	transition:background-color 0.3s ease;
}
.login-button:hover{
	background-color:#1aa260;
	color:#fff;
}
.register{
	top:90%;
}
/* Notifications */
.notification{
	padding:5px 15px;
	background-color:#fff;
	box-shadow:1px 1px 3px #ccc;
}
.notification a{
	text-decoration:none;
	color:#333;
}
.notification p{
	line-height:0;
	font-size:15px;
	color:#777;
}
/* Dashboard */
.dashboard-navigation{
	display:flex;
	list-style:none;
	justify-content:space-between;
	padding:0;
	margin:5px;
}
.dashboard-navigation li a:hover{
	padding-bottom:7px;
	border-bottom:3px solid #1aa260;
}
.dashboard-navigation .active{
	padding-bottom:7px;
	border-bottom:3px solid #1aa260;
}
.dashboard-navigation li a{
	color:#333;
	text-decoration:none;
}
.dashboard-post-list{
	border-collapse:collapse;
	width:100%;
}
.dashboard-post-list td{
	border:1px solid #ddd;
	padding:0 10px;
}
.dashboard-post-list tr:nth-child(even){
	background-color:#fff;
}
.dashboard-post-list tr:nth-child(odd){
	background-color:#f7f7f7;
}
.dashboard-post-list tr:hover{
	background-color:#f7f7f7;
}
.dashboard-post-title-col{
	width:45%;
}
.dashboard-post-title-col a{
	color:#333;
}
.dashboard-post-action-conditions{
	display:flex;
	list-style:none;
	padding:0;
	justify-content:space-between;
	color:#333;
}
.dashboard-post-actions-col a{
	text-decoration:none;
}
/* New Post */
.create input[type=text]{
	width:75%;
}
/* Leaderboard */
.leaderboard a{
	color:#333;
}
.leaderboard ol{
	margin:0;
}
.leaderboard ol li{
	margin-bottom:10px;
}
.leaderboard .profile-picture{
	height:32px;
	width:32px;
	margin-right:10px;
	vertical-align:middle;
}
/* Reward */
.reward{
	text-align:center;
	padding:25px 0;
}
.balance{
	display:inline-flex;
	justify-content:center;
	align-items:center;
	background-color:#00a3ff;
	font-size:35px;
	color:#fff;
	height:175px;
	width:175px;
	border-radius:50%;
}
/* Settings */
.settings input{
	width:50%;
}
.about-field{
	height:150px;
	width:60%;
}
.settings .profile-picture{
	height:75px;
	width:75px;
}
/* Activity Page */
/* Infinity Quote */
.infinity-quote{
	height:175px;
	padding:25px;
	background:#007ce4 url(../images/infinity-quote.webp) repeat;
	color:#fff;
	text-align:center;
	font-family:SolaimanLipi;
	position: sticky;
}
.slide{
	position: absolute;
	left: 0px;
	top: 60px;
	width: 100%;
	height: 100%;
	max-height: 125px;
	opacity: 0;
	z-index: 1;
	transition: opacity 1s;
}
.showing{
	opacity: 1;
	z-index: 2;
}
.action-button-set{
	display:none;
	padding:10px;
	justify-content:space-between;
}
.quick-links{
	list-style:none;
	margin:0;
	padding:0;
}
.quick-links li{
	padding:7px;
	border-bottom:1px solid #ccc;
}
.quick-links li:last-child{
	border:none;
}
.quick-links li a{
	color:#333;
	text-decoration:none;
}
.quick-links li .icon{
	float:right;
}
.mobile-copyright{
	text-align:center;
	color:#777;
	display:none;
}
/* Team Page */
.teampage{
	padding:25px 5%;
}
.profile{
	text-align: center;
    background-color: #fff;
    display: inline-block;
    width: 270px;
    margin: 15px;
    padding: 15px 0;
    box-shadow: 1px 1px 3px #ccc;
}
.profile img{
	height: 200px;
    width: 200px;
	object-fit: cover;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}
.profile h2{
	font-size:20px;
	margin:0;
}
.profile b{
	font-size: 15px;
	color:#777;
}
/* Meme */
.meme{
	display: inline-block;
	margin:5px;
}
.meme img{
	height:350px;
	width:225px;
	object-fit:cover;
}
/* Share Button */
.share {
	position: relative;
	display: inline-block;
}
.share .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}
.share .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
.share:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
