{% extends 'base.html' %}
{% load static %}
{% block title %}নতুন লিপি - লিপিকরণ{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
{% include 'sidebar-left.html' %}
			<h1 class="heading">নতুন লিপি</h1>
			{% if messages %}
			<div class="messages">
				{% for message in messages %}
				<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
				{% endfor %}
			</div>
			{% endif %}
			<div class="body">
				<form action="" method="POST" enctype="multipart/form-data" class="create">
					{% csrf_token %}
					{{ form.media }}
					{{ form.as_p }}
					<div class="btn-set">
						<a href=""><button class="btn-active">পাবলিশ করুন</button></a>
						<a href=""><button>সাবমিট করুন</button></a>
						<a href=""><button class="btn-disabled">খসড়া</button></a>
					</div>
				</form>
			</div>
{% include 'sidebar-right.html' %}
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}