{% load static %}
<section class="hero">
    <div class="hero-content">
        <h1>লিপিকরণে খুঁজুন আপনার যা জানতে ইচ্ছা...</h1>
        <form method="GET">
            <input id="mobileSearchInput" type="search" name=search value="{{ request.GET.search }}" class="hero-search" placeholder="সার্চ করুন..."><button type="submit" class="btn-active hero-search-button">সার্চ</button>
        </form>
        <div class="btn-set">
            <a href="#lipifeed"><button>শিখুন</button></a>
            <a href="{% url 'create' %}"><button class="btn-active">শেখান</button></a>
        </div>
        <ul class="category-scroll">
            {% for category in category %}
            <a href="{% url 'category' name=category.name %}">
                <li>{{ category.name }}</li>
            </a>
            {% endfor %}
        </ul>
    </div>
</section>
<div class="scroll-button">
    <a class="godownbtn" href="#lipifeed"><img src="{% static 'icons/icon-outline/chevron-down.svg' %}" class="icon"></a>
</div>