{% extends 'base.html' %}
{% load static %}

{% block title %}রিপোর্ট - লিপিকরণ{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block content %}
{% include 'sidebar-left.html' %}

<h1 class="heading">নোটিফিকেশন</h1>


{% for noti in notifications %}
<div class="notification">
	{% if noti.notification_type == 1 %}
		<img class="icon" src="{% static 'icons/icon-outline/heart.svg' %}">
		<a href="{% url 'single_post' noti.post.id %}">{{ noti.sender.get_full_name }} আপনার লিপিতে লাইক করেছেন।</a>
		<p>{{ noti.date }}</p>
	{% elif noti.notification_type == 2 %}
		<img class="icon" src="{% static 'icons/icon-outline/message.svg' %}">
		<a href="{% url 'single_post' noti.post.id %}">{{ noti.sender.get_full_name }} আপনার লিপিতে কমেন্ট করেছেন।</a>
		<p>{{ noti.date }}</p>
	{% endif %}
</div>
{% empty %}
<div class="body">
	<i>কোনো নোটিফিকেশন নেই!</i>
</div>
{% endfor %}

{% comment %} <div class="notification">
	<img class="icon" src="icons/icon-outline/info.svg"> <a href="#">অভিনন্দন, আপনাকে লিপিকার করা হয়েছে!</a><p>এই মাত্র</p>
</div> {% endcomment %}




{% include 'sidebar-right.html' %}
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}